[submodule "src/framework/dojo"]
	path = src/framework/dojo
	url = https://github.com/dojoengine/dojo.git
[submodule "src/toolchain/katana"]
	path = src/toolchain/katana
	url = https://github.com/dojoengine/katana.git
[submodule "src/toolchain/saya"]
	path = src/toolchain/saya
	url = https://github.com/dojoengine/saya.git
[submodule "src/toolchain/torii"]
	path = src/toolchain/torii
	url = https://github.com/dojoengine/torii.git
[submodule "src/libraries/origami"]
	path = src/libraries/origami
	url = https://github.com/dojoengine/origami.git
[submodule "src/sdks/dojo.bevy"]
	path = src/sdks/dojo.bevy
	url = https://github.com/dojoengine/dojo.bevy.git
[submodule "src/sdks/dojo.c"]
	path = src/sdks/dojo.c
	url = https://github.com/dojoengine/dojo.c.git
[submodule "src/sdks/dojo.js"]
	path = src/sdks/dojo.js
	url = https://github.com/dojoengine/dojo.js.git
[submodule "src/sdks/dojo.unity"]
	path = src/sdks/dojo.unity
	url = https://github.com/dojoengine/dojo.unity.git
[submodule "src/sdks/dojo.unreal"]
	path = src/sdks/dojo.unreal
	url = https://github.com/dojoengine/dojo.unreal.git
[submodule "src/games/death-mountain"]
	path = src/games/death-mountain
	url = https://github.com/Provable-Games/death-mountain.git
[submodule "src/games/jokers-of-neon"]
	path = src/games/jokers-of-neon
	url = https://github.com/caravana-studio/jokers-of-neon-lib.git
[submodule "src/games/pistols"]
	path = src/games/pistols
	url = https://github.com/underware-gg/pistols.git
[submodule "src/games/you-are-who-you-kill"]
	path = src/games/you-are-who-you-kill
	url = https://github.com/last-dot/you-are-who-you-kill.git
[submodule "src/starters/dojo-starter"]
	path = src/starters/dojo-starter
	url = https://github.com/dojoengine/dojo-starter.git
[submodule "src/starters/dojo-intro"]
	path = src/starters/dojo-intro
	url = https://github.com/dojoengine/dojo-intro.git
[submodule "src/starters/dojo-game-starter"]
	path = src/starters/dojo-game-starter
	url = https://github.com/AkatsukiLabs/Dojo-Game-Starter.git
[submodule "src/games/PonziLand"]
	path = src/games/PonziLand
	url = https://github.com/RuneLabsxyz/PonziLand.git
[submodule "src/games/eternum"]
	path = src/games/eternum
	url = https://github.com/BibliothecaDAO/eternum.git
[submodule "src/docs/docs"]
	path = src/docs/docs
	url = https://github.com/cartridge-gg/docs
[submodule "src/libraries/alexandria"]
	path = src/libraries/alexandria
	url = https://github.com/keep-starknet-strange/alexandria
[submodule "src/framework/cainome"]
	path = src/framework/cainome
	url = https://github.com/cartridge-gg/cainome
[submodule "src/starters/beast-slayers"]
	path = src/starters/beast-slayers
	url = https://github.com/cartridge-gg/beast-slayers.git
[submodule "src/sdks/dojo.godot"]
	path = src/sdks/dojo.godot
	url = https://github.com/lonewolftechnology/godot-dojo
