
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


@layer vocs_preflight {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;

}

.vocs_ExternalLink::after {
  width: 0;
  margin: 0;
}

.vocs_Sidebar_divider {
  display: none;
}

.vocs_Header {
  border-bottom: none;
}

.vocs_Header:not(:last-child) {
  padding-bottom: 0;
}

:not(.vocs_Header) + .vocs_H2:not(:only-child),
.vocs_Sidebar_navigation
  > .vocs_Sidebar_group
  > .vocs_Sidebar_section
  + .vocs_Sidebar_section {
  border-top: none;
}
